@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;   
} 
body{
    overflow: hidden;
    background-color: rgb(20, 20, 20);
}

.first-container{
    background-image: url("code.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.navbar{
    display: flex;
    position:fixed;
    background-color: black;
    top:0;
    transition: top 0.3s;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    z-index: 1;
}
.logo{
    flex: 1;
    font-family: 'Poppins';
    font-size: 31px;
    
}
.logo a{    
    text-decoration: none;
    letter-spacing: 3px;
    padding:8px;
    color: #9eb8cf;
    margin-left: 35px;
    font-weight:600;
}
.search{
    /* font-family: 'Poppins', sans-serif; */
    position: absolute;
    margin-left: 34%;
    height: 37px;
    margin-top: 5px;
}
#search-box{
    font-family: "roboto";
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(30, 30, 30);
    background-color: rgb(184, 214, 224);
    /* opacity: 80%; */
    width: 400px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    text-indent: 40px;
}
input[type="search"]::placeholder{
    text-align: left;
    color: rgb(65, 65, 65);
    font-size: 14px;
    font-weight: 500;
    opacity:80%;
}
input[type="search"]{
    text-align:left;
}
#searchBtn{
    background-color: rgb(184, 214, 224);    
    /* opacity: 80%; */
    position: absolute;
    /* margin-left:-35px; */
    border: 1px;
    border-radius: 50%;
    font-size: 17px;
    padding:10px;
    transition: 0.2s;   
    cursor: pointer;
}
#searchBtn:hover{
    background-color: rgb(1, 55, 70);
}
.user-profile{
    display: flex;
    /* border: solid 1px rgb(107, 107, 107); */
    margin-right: 20px;
    width: auto;
    justify-content:space-around;
    color: whitesmoke;
    border-radius: 20px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    /* background-color: rgb(12, 12, 12); */
    /* opacity: 100%; */
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease;
}
.user-profile:hover{
    background-color: rgb(8, 94, 99);
    border-color: black;
}
.profile{
    vertical-align: middle;
    /* position: absolute; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* cursor: pointer; */
    /* margin:0 auto; */
    /* margin-right: 5%; */
    /* border: white solid 1px; */
}
.user-profile h5{
    margin: auto;
    /* border: white solid 1px; */
    width: auto ;
    z-index: 1;
    /* position: absolute; */
    font-family: 'lato', sans-serif;
    color: rgb(235, 235, 235);
    font-weight:300;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 10px;
}
#down-arrow {
    height: 15px;
    width: 15px;
    margin:auto 10;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 23%;
    margin-top: 4px;
    list-style: none;
    margin-right: 50px;
}
ul li{
    position: relative;
}
ul li::after{
    content: '';
    height: 1px;
    width: 0%;
    background:rgb(28, 223, 230);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4;
    transition: 0.4s;
}
ul li:hover::after{
    width: 40%;
}
li a{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color:rgb(240, 255, 255);
}
li a:hover{
    color: rgb(28, 223, 230);
}
#logoutBtn{
    background-color:black;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    border-radius: 17px;
    border-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight:bolder;
    font-size: 13px;
    letter-spacing: 2px;
    margin: 0 auto;
    /* margin-top: 7px;
    margin-left: 4px; */
    margin: auto;
}
#logout-icon{
    height: 30px;
    width: 30px;
    /* margin: auto; */
    margin-top: auto;
    /* padding: 4px; */
}
.hamburger{
    display: block;
    color: white;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    position: fixed;
    top: -50%;
    right: 0px;
    flex-direction: column;
    background-color: rgb(12, 12, 12);
    width: 10%;
    height: 300px;
    border-radius: 10px;
    opacity: 95%;
    text-align: center;
    transition: 0.3s;
    z-index: -1 ;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}
.nav-menu.active{
    top: 75px;
}


#logoutBtn:hover{
    background-color:rgb(1, 55, 70);
    color:rgb(240, 255, 255);
    font-weight: 500;
    transition:ease-out 0.2s;
}

.edit-profile{
    border: 1px solid rgb(27, 27, 27);
    /* border: none; */
    margin: 0 auto;
    /* text-align: left; */
    /* margin-top: 150px; */
    /* transform: translate(0,-20%); */
    padding: 10 30;
    color:whitesmoke;
    /* max-width: 50%; */
    background-color: rgb(23, 25, 27);
    border-radius: 15px;
    font-family: 'lato';
    font-size: 15px;
    font-weight: 400;
}
.edit-profile label{
    letter-spacing: 1px;    
    color: rgb(199, 199, 199);
}
.name{
    display: flex;
    /* border:solid 1px white; */
    justify-content: space-between;
}
.name .first-name , .name .last-name{
    /* border: solid 1px white; */
    width: 100%;
    padding: 5px;
}
.name .first-name input[type="text"], .name .last-name input[type="text"]{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10px;
    border: solid 1px rgb(75, 75, 75);
    background: transparent;
    border-radius: 10px;
    height: 35px;
    text-indent: 5px;
    padding:10px;
    width: 100%;
    color: rgb(201, 201, 201);
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.5;
    /* display: block; */
    font-family: 'segoe UI';

}

.username{
    padding: 5px;
}
.username input{
    margin: 0 auto;
    margin-top: 10px;
    /* border:none; */
    /* background-color: rgb(41, 41, 41); */
    border: solid 1px rgb(75, 75, 75);
    background: transparent;
    /* background-color: rgb(25, 28, 31); */
    border-radius: 10px;
    height: 35px;
    text-indent: 5px;
    padding:10px;
    width: 100%;
    color: rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    font-family: 'segoe UI';
}
.about{
    padding: 5px;
}
.about textarea{
    font-family: 'segoe UI';
    margin-top: 10px;
    /* background-color: rgb(41, 41, 41); */
    border-radius: 10px;
    background:transparent ;
    border: solid 1px rgb(75, 75, 75);
    padding: 10px;
    width: 100%;
    font-size: 14px;
    /* text-indent: 5px; */
    color: rgb(200,200,200);
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.profile-image img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.profile-image input{
    width: 100px;
    padding: 10px;
    letter-spacing: 1px;
    margin-top: 6px;
}
.profile-image input[type='file']{
    display: none;
}
.custom-file-upload{
    /* border: solid 1px rgb(48, 48, 48); */
    border: none;
    background-color: rgb(18, 109, 100);
    /* margin:10px; */
    cursor: pointer;
    font-size: 13px;
    padding:3 20;
    border-radius: 5px;
    color: rgb(41, 41, 41);
    transition: 0.2s ease-in-out;
}
.custom-file-upload:hover{
    background-color: rgb(13, 92, 84);
}
.edit-profile-header{
    font-size: 20px;
    padding: 5;
    margin-bottom: 20px;
    /* font-family: 'segoe UI'; */
    color: #9eb8cf;
    border-bottom: solid 1px rgb(49, 49, 49);
}
.submit button{
    color: rgb(14, 99, 99);
    width: 50%;
    height: 40px;
    padding: 5px;
    margin-top: 20px;
    letter-spacing: 1px;
    border: solid 1px rgb(14, 99, 99);
    border-radius: 20px;
    cursor: pointer;
    background-color:transparent;
    transition: 0.2s ease;
    font-weight: 400;
    font-family: 'lato',sans-serif;
    font-size: 15px;
}
.submit button:hover{
    background-color: rgb(18, 109, 100);
    border-color: rgb(18, 109, 100);
    color: rgb(204, 204, 204);
}