@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;   
} 
body{
    /* overflow: hidden; */
    background-color: rgb(20, 20, 20);
}
.container{
    border: solid 1px rgb(53, 53, 53);
    height:auto;
    width: 90%;
    margin: 1% auto;
    padding: 10px;
}
.container header{
    /* background-color: aliceblue; */
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    text-align: center;
}
.container header h1{
    color: rgb(175, 175, 175);
    font-family: 'lato';
    font-size: 40px;
    font-weight: 500;
}
.container header h1 b{
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    font-family: 'segoe UI';
    color: aquamarine;
}
.container span{
    margin: 0 auto;
    /* width: 90%; */
    padding:10px;
    border: solid 1px white;
}
.container header h2{
    color: rgb(159, 171, 182);
    font-family: 'lato';
    padding: 10px;
    font-size: 25px;
    font-weight: 500;
}
.container .content ,.to-follow{
    background-color: rgb(36, 36, 37);
    text-align: center;
    /* padding: 10px; */
    width: 80%;
    margin:10 auto;
    border-radius: 10px;
    /* margin:10px; */
}
.content header h2 ,.to-follow header h2{
    padding: 10px;
    color: rgb(153, 190, 190);
    font-size: 22px;
    /* border-bottom: solid 1px grey; */
}
#set-up-form{
    /* padding: 10px; */
    /* border: solid 1px white; */
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
#set-up-form input{
    /* padding: px; */
    margin: 10px;
}
#set-up-form .name{
    display: flex;
    /* border: solid 1px white; */
    /* padding: 5px; */
    /* justify-content:; */
}
#set-up-form label{
    color: rgb(228, 228, 228);
    font-family: 'segoe UI';
    font-size: 18px;
}
.first-name ,user-interests, .last-name,.about,.profile-image{
    display: flex;
    flex-direction: column;
}
.first-name , .last-name{
    /* border: solid 1px white; */
    width: 50%;
}
.user-interests input[name="type-interest"]{
    height: 40px;
    border-radius:15px;
    width: 50%;
    
    border:none;
    text-indent: 10px;
    color: rgb(230, 230, 230);
    font-family: 'lato';
    font-size: 15px;
    outline-color: rgb(201, 201, 201);
    /* outline-style: solid; */
    outline-width:thin;
    background-color: rgb(56, 56, 56);
    
}
#set-up-form input[type="text"]{
    height: 40px;
    border-radius:15px;
    border:none;
    text-indent: 10px;
    color: rgb(230, 230, 230);
    font-family: 'lato';
    font-size: 15px;
    outline-color: rgb(201, 201, 201);
    /* outline-style: solid; */
    outline-width:thin;
    background-color: rgb(56, 56, 56);
    /* width: 100%; */
}
.about textarea{
    width: 95%;
    margin:10 auto;
    border-radius: 10px;
    border: none;
    background-color: rgb(56, 56, 56);
    padding: 10px;
    outline-color: rgb(200,200,200);
}
.submit{
    /* text-align: right; */
    /* border: solid 1px white; */
    margin-top: 15px;
    margin-right: 10px;
    display: none;
}
.submit input[type="submit"]{
    background-color: rgb(18, 158, 151);
    width: 120px;
    color: white;
    font-family: 'segoe UI';
    font-size: 18px;
    height: 50px;
    border: none;
    border-radius: 10px;
    /* margin-top: 5px; */
    cursor: pointer;
}
.profile-image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* margin: 0 auto; */
    margin-left: 30px;
}
.profile-image input[type="file"]{
    display: none;
}
.recommended-users{
    display: flex;
    /* border: solid 1px white; */
    padding: 10px;
    overflow-x:scroll;
    scroll-behavior: smooth;
}
.recommended-users::-webkit-scrollbar {
    display: none;
}
.recommended-user{
    padding: 15 35;
    background-color: rgb(53, 53, 53);
    border-radius: 10px;
    margin: 20px;
}
.recommended-user .user-profile img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.user-detail{
    /* border: solid 1px white; */
    margin: 10 0;
    width: 100%;
}
.user-firstname{
    color: rgb(225,225,225);
    font-family: 'lato';
    font-size: 18px;
}
.user-username i{
    font-family: 'lato';
    font-style: normal;
    color: grey;
    font-size: 13px;
    font-weight: 600;
}
.submit-section{
    display: flex;
    /* border: solid 1px white; */
    justify-content: space-between;
}
.follow-user button{
    background-color: rgb(18, 158, 151);
    width: 100px;
    color: white;
    font-family: 'segoe UI';
    font-size: 18px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    animation: 0.5s ease-in-out;
}
.follow-user button:hover{
    background-color: rgb(11, 121, 115);
    
}