@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;   
} 
body{
    overflow: hidden;
    background-color: whitesmoke;
}

.first-container{
    background-image: url("code.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.navbar{
    display: flex;
    position:fixed;
    background-color: black;
    top:0;
    transition: top 0.3s;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    z-index: 1;
}
.logo{
    flex: 1;
    font-family: 'Poppins';
    font-size: 31px;
    
}
.logo a{    
    text-decoration: none;
    letter-spacing: 3px;
    padding:8px;
    color: #9eb8cf;
    margin-left: 35px;
    font-weight:600;
}
.search{
    /* font-family: 'Poppins', sans-serif; */
    position: absolute;
    margin-left: 34%;
    height: 37px;
    margin-top: 5px;
}
#search-box{
    font-family: "lato";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(22, 22, 22);
    background-color: rgb(184, 214, 224);
    width: 400px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
}
input[type="search"]::placeholder{
    text-align: center;
    color: rgb(56, 59, 59);
    font-size: 14px;
    font-weight: 600;
    opacity:80%;
}
input[type="search"]{
    text-align:center;
}
#searchBtn{
    background-color:rgb(123, 206, 206);
    position: absolute;
    margin-left:-35px;
    border: 1px;
    border-radius: 20px;
    font-size: 17px;
    padding:10px;
    transition: 0.2s;   
    cursor: pointer;
}
#searchBtn:hover{
    background-color: rgb(1, 55, 70);
}
.user-profile{
    display: flex;
    /* border: solid 1px rgb(107, 107, 107); */
    margin-right: 20px;
    width: auto;
    justify-content:space-around;
    color: whitesmoke;
    border-radius: 20px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    /* background-color: rgb(12, 12, 12); */
    /* opacity: 100%; */
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease;
}
.user-profile:hover{
    background-color: rgb(8, 94, 99);
    border-color: black;
}
.profile{
    vertical-align: middle;
    /* position: absolute; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* cursor: pointer; */
    /* margin:0 auto; */
    /* margin-right: 5%; */
    /* border: white solid 1px; */
}
.user-profile h5{
    margin: auto;
    /* border: white solid 1px; */
    width: auto ;
    z-index: 1;
    /* position: absolute; */
    font-family: 'lato', sans-serif;
    color: rgb(235, 235, 235);
    font-weight:300;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 10px;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 23%;
    margin-top: 4px;
    list-style: none;
    margin-right: 50px;
}
ul li{
    position: relative;
}
ul li::after{
    content: '';
    height: 1px;
    width: 0%;
    background:rgb(28, 223, 230);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4;
    transition: 0.4s;
}
ul li:hover::after{
    width: 40%;
}
li a{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color:rgb(240, 255, 255);
}
li a:hover{
    color: rgb(28, 223, 230);
}
#logoutBtn{
    background-color:black;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    border-radius: 17px;
    border-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight:bolder;
    font-size: 13px;
    letter-spacing: 2px;
    margin: 0 auto;
    /* margin-top: 7px;
    margin-left: 4px; */
    margin: auto;
}
#logout-icon{
    height: 30px;
    width: 30px;
    /* margin: auto; */
    margin-top: auto;
    /* padding: 4px; */
}
.hamburger{
    display: block;
    color: white;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    position: fixed;
    top: -50%;
    right: 0px;
    flex-direction: column;
    background-color: rgb(12, 12, 12);
    width: 10%;
    height: 300px;
    border-radius: 10px;
    opacity: 95%;
    text-align: center;
    transition: 0.3s;
    z-index: -1 ;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}
.nav-menu.active{
    top: 75px;
}


#logoutBtn:hover{
    background-color:rgb(1, 55, 70);
    color:rgb(240, 255, 255);
    font-weight: 500;
    transition:ease-out 0.2s;
}

/* .title{
    color: rgb(238, 251, 253);
    font-size: 35px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    position: absolute;
    margin-top: 12%;
    margin-left: 50%;
    transform: translate(-50%);
    animation: FadeIn linear 4s;
    -webkit-animation: FadeIn linear 4s;
}
@keyframes FadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
}
.join-community{
    position: absolute;
    color: white;
    margin-top: 37%;
    margin-left: 50%;
    transform: translate(-50%);
    animation: Fade2 linear 9s;
    -webkit-animation: Fade2 linear 9s;
}
@keyframes Fade2{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
.join-community button{
    border-radius: 27px;
    background-color:rgb(1, 55, 70);
    color:rgb(240, 255, 255);
    padding: 13px;
    cursor: pointer;
    width: 300px;
    font-size: 14px;
    /* border-color: rgb(5, 104, 117); */
    /* border: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    box-shadow: 0px 0px 8px 0px rgba(28, 223, 230);   
}
.join-community button:hover{
    background-color:rgb(28, 223, 230);
    color:black;
    font-weight: 800;
    transition: ease-in-out 0.2s;
} */ 
/* .content{
    position: absolute;
    color: rgb(240,255,255);
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 32%;
    margin-left: 50%;
    transform: translate(-50%);
    font-family: 'Montserrat'; 
    text-align: justify;
    text-align-last: center;
    letter-spacing: 2px;
    animation: Third 8s;
    -webkit-animation: Third linear 8s;
} */
@keyframes Third{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
#main-container{
    display: flex;
    height: 70vh;
    justify-content:space-between;
    margin-top: 15%;
    position: absolute;
    width: 91%;
    margin-left: 65px;
    opacity: 1;
    transition: 0.5s ease-in-out;
}
.left-content{
    display: flex;
    flex-direction: column;
    
}
.title{
    color: rgb(238, 251, 253);
    font-size: 40px;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
}


.content{
    color: rgb(240,255,255);
    font-size: 13px;
    /* text-transform: uppercase; */
    font-family: 'Montserrat'; 
    letter-spacing: 2px;
    margin-top: 8px;
}
.join-community button{
    border-radius: 27px;
    margin-top: 35px;
    background-color:rgb(1, 55, 70);
    color:rgb(240, 255, 255);
    padding: 13px;
    cursor: pointer;
    width: 300px;
    font-size: 14px;
    border-color: rgb(5, 104, 117);
    border: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    box-shadow: 0px 0px 8px 0px rgba(28, 223, 230);   
    outline: none;
}
.join-community button:hover{
    background-color:rgb(28, 223, 230);
    color:black;
    font-weight: 800;
    transition: ease-in-out 0.2s;
}
.right-container{
    align-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 35%;
}
.login-form{
    background-color: rgb(14, 13, 13);
    /* margin: 0 auto; */
    width: 80%;   
    margin-left: 60px;
    padding: 10px 10px;
    text-align: center; 
}
.login-form  p{
    color: azure;
    font-family: "montserrat";
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 600;
    
}
.login-form input{
    background-color: rgb(56, 54, 54);
    border: none;
    width: 90%;
    height: 35px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 18px;
    outline: none;
    color: rgb(243, 243, 243);
    letter-spacing: 1px;
}
input::placeholder{
    text-align: center;
    letter-spacing: 1px;
    color: rgb(218, 219, 219);
    opacity: 70%; 
}
#submit{
    margin-top:20px ;
    padding: 5px 5px;
    border-radius: 18px;
    width: 85px;
    height: 30px;
    border: none;
    margin-bottom:10px ;
    font-family: "Poppins";
    letter-spacing: 1px;
    background-color:rgb(28, 223, 230);
    padding: 5px;
    cursor: pointer;
    border-color: black;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight:bolder;
    font-size: 13px;
}
#submit:hover{
    background-color:rgb(1, 55, 70);
    color:rgb(240, 255, 255);
    font-weight: 500;
    transition:ease-out 0.2s;
}
span{
    display: flex;
    justify-content: center;
    color:rgb(207, 207, 207);
    letter-spacing: 1px;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 600;
}
span:before,span:after{
    content:"";
    flex: 1 1;
    border-bottom:1px solid rgb(78, 78, 78);
    margin-right:14px;
    margin-left: 14px;
    height: 12px;
    max-width: 130px;
}
.oauth-login{
    display: flex;
    justify-content:space-evenly;
    width: 80%;
    padding: 10px;
    margin:0 auto;
}
.oauth-login button{
    background-color: black;
    height: 44px;
    width: 110px;
    border: none;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
    padding:6px;
    font-weight: 500;
    cursor: pointer;   
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.oauth-login button:hover{
    box-shadow:0px 0px 8px 0px rgb(28, 223, 230);
}
#login-with {
    color: rgb(238, 251, 253);
    margin-top: 15px;
    font-family: "Poppins";
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.oauth-login img{
    width: 30px;
    height: 30px;
}
#forget-password a{
    color: rgb(238, 251, 253);
    /* margin-left: 36%; */
    text-decoration: none;
    font-family: "Poppins";
    font-size: 12px;
    letter-spacing: 1px;
    transition: 0.1s ease-in;
}
#forget-password a:hover {
    color:rgb(28, 223, 230) ;
}

#sign-up-form{
    position:absolute;
    background-color: rgb(20, 20, 20);
    margin-top: 15%;
    margin-left: 50%;
    transform: translate(-50%,-15%);
    z-index: -1;
    opacity: 0;
    transition: 0.8s ease-in-out;
    width: 350px;
    text-align: center;
    padding: 20px;
    height: 450px;
    border-radius: 5px;
}
#sign-up-form  p{
    color: azure;
    font-family: "montserrat";
    font-size: 26px;
    letter-spacing: 1px;
    
}
#sign-up-form input{
    background-color: rgb(56, 54, 54);
    border: none;
    width: 90%;
    height: 35px;
    padding: 5px;
    margin-top: 15px;
    border-radius: 18px;
    outline: none;
    color: rgb(243, 243, 243);
    letter-spacing: 1px;
}
#sign-up-form input::placeholder{
    text-align: center;
    letter-spacing: 2px;
    font-size: 12px;
    color: rgb(218, 219, 219);
    opacity: 50%; 
}
#sign-up{
    margin-top:20px ;
    padding: 5px 5px;
    border-radius: 18px;
    width: 100px;
    height: 35px;
    border: none;
    margin-bottom:10px ;
    font-family: "Poppins";
    letter-spacing: 2px;
    background-color:rgb(28, 223, 230);
    cursor: pointer;
    border-color: black;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight:bolder;
    font-size: 13px;
}
#sign-up:hover{
    background-color:rgb(1, 55, 70);
    color:rgb(240, 255, 255);
    font-weight: 500;
    transition:ease-out 0.2s;
}
#sign-up-division{
    margin-top: 10px;
    color: grey;
    size: 0px;
}
.oauth-sign-up button{
    background-color: black;
    height: 44px;
    width: 300px;
    border: none;
    margin-top: 10px;
    padding:6px;
    cursor: pointer;   
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    color: honeydew;
    display: flex;
    justify-content:space-evenly;
    
    
}
.oauth-sign-up button:hover{
    box-shadow:0px 0px 8px 0px rgb(28, 223, 230);
}
.oauth-sign-up img{
    width: 30px;
    height: 30px;
}
.oauth-sign-up div{
    font-size: 13px;
    font-weight: 500;
    opacity: 70%;
    margin-top: 5px;
    letter-spacing: 1px;
}

/* Home page end */
/* Explore page begins */

.container{
    display: flex;
    justify-content: space-between;
    position: relative;
    /* border: 1px solid black; */
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;

}
.left-bar{
    /* display: none; */
    border: none;
    width: 20%;
    text-align: center;
    /* height: 100%; */
    margin-top:1%;
    height: 80vh;
    border-radius: 15px; 
    /* transform: translate(0,-50%); */
    background-color: rgb(213,213,213);
    overflow: hidden;
}
.left-bar-nav{
    margin: 0 auto;
    margin-top: 50%;
    /* border: solid 1px black; */
    height:auto;
    font-family: "roboto";
    text-align: center;
    width: 70%;
    color: rgb(15, 15, 15);
}
.left-bar-nav h3{
    padding: 10px;
    margin: 10px;
    transition: 0.2s ease-in-out;
    border-radius: 20px;
    letter-spacing: 1px;
    width: 80%;
}
.left-bar-nav  a{
    text-decoration:none;
    color: #083e46;
}
.left-bar-nav h3:hover{
    background-color:rgb(13, 114, 117);
    color: white;
    box-shadow: 8px 4px 4px rgb(12, 98, 109);
}
.left-bar-nav h3 img{
    height: 20px;
    width: 20px;
    margin-right: 8px;
}
.right-bar{
    /* display: none; */
    width: 20%;
    text-align: center;
    border: none;
    height: 80vh;
    margin-top: 1%;
    border-radius: 15px;
    background-color: rgb(213,213,213);
}
.right-bar-chats{
    margin:0 auto;
    margin-top: 20px;
    /* border: solid 1px black; */
    height: auto;
    font-family: 'lato';
    width: 80%;
    
}
.main-container{
    display: flex ;
    /* position: relative; */
    flex-direction: column;
    margin: 0 auto;
    /* border: 1px solid grey; */
    color: black;
    text-align: center;
    width: 60%;
    height: 100vh;
    /* margin-top: 60px; */
    padding: 15px;
    padding-top: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    
}
.main-container::-webkit-scrollbar{
    width: 10px;
}
/* .main-container::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 100px;
}

.main-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(5, 53, 49, 0.3);
    border-radius: 100px;
} */
.explore-container{
    background-color: rgb(213,213,213);
    border-radius: 15px;
}
.navbar h2{
    color: whitesmoke;
    margin-top: 6px;
    font-family: "poppins";
    letter-spacing: 1px;
}
.profile-container{
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    width: 90%;
    margin-top: 10%;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;   
}
.profile-container h2{
    font-weight: 700;
    font-size: 18px;
}
.profile-container button{
    height: 40px;
    width:100px;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px rgb(14, 99, 99);
    cursor: pointer;
    color:rgb(14, 99, 99);
    transition: 0.2s ease-in-out;
    font-family: 'lato',sans-serif;
}
.profile-container button:hover{
    background-color: rgb(212, 212, 212);
    /* border: none; */
    
}
.edit-profile-content{
    margin-top: 10%;
}

.search-results-container{
    margin: 0 auto;
    border: 1px solid grey;
    width: 90%;
    margin-top: 10%;
    padding: 15px;
}
.users-found{
    display: flex;
    /* border: 1px solid black; */
    padding: 4px;
    border-bottom: 1px solid grey;
    
}
.search-results-container img{
    width: 60px; 
    height:60px; 
    border-radius:50%;
}
.user-details{
    margin-top:5px;
    padding: 7px;
    /* border: solid 1px; */
}
.users-found a{
    text-decoration: none;
    color: #2c4f6e;
}
.ping {
    margin:auto;
    position: relative;
    margin-right: 1px;
}
.ping button{
    /* background-color:rgb(123, 206, 206);    */
    border: 1px solid rgb(53, 53, 53);
    border-radius: 5px;
    font-size: 17px;
    transition: 0.2s;   
    cursor: pointer;
    width: 100px;
    padding: 2px;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: "poppins";
    font-weight: 600;
}
.ping button:hover{
    background-color: rgb(1, 55, 70);
    color: white;
    
}
.ping button img{
    height: 20px;
    width: 20px;
    margin:auto;
}
.recent-posts{
    /* border: 1px solid grey; */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top:30px;
    background-color: white;
}
.share-post{
    position: relative;
    /* margin-top: 50%; */
    text-align: center;
    width: 100%;
    margin:auto 0;
    padding:10px;
    border-radius: 15px;
    background-color: rgb(20, 20, 20);
    /* background-image:linear-gradient( to right ,rgb(0, 0, 0) , rgb(11, 71, 73) ); */
}
#post {
    width: 70%;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline:none;
    text-align: left;
    text-indent: 15px;
    font-family: 'lato';
    font-size: 15px;
    color: rgb(151, 151, 151);
    background-color: rgb(61, 61, 61);
    
}
#post::placeholder{
    color:rgb(145, 145, 145);
    text-align: left;
    font-size: 14px;
    font-family: 'lato';
}
.share-post button{
    height: 40px;
    width: 80px;
    border-radius: 20px;
    border:none;
    background-color:rgb(13, 114, 117);
    /* background-image: linear-gradient( to right ,rgb(35, 171, 175) , rgb(11, 71, 73) ); */
    cursor: pointer;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
    color:whitesmoke;
}
.share-post button:hover{
    background-color:black;
    background-image: linear-gradient( to right ,rgb(30, 147, 151) , rgb(6, 53, 54) );

}
.share-post input[type="file"]{
    display: none;
}
.share-post img{
    height: 25px;
    width: 25px;
    position: absolute;
    margin-left: -45px;
    margin-top: 8px;
    cursor: pointer;
}
.share-post label{
    font-size: 18px;
    font-family: 'poppins';
    font-weight: 600;
}
.main-container h1{
    font-family: 'lato';
    font-size: 30px;
    font-weight: 500;
}
.recent-post-usr{
    text-align: left;
    display: flex;
    justify-content:;
    margin: 5px;
    /* border: solid 1px black; */
}
.recent-post-usr-details{
    padding-left: 6px;
    width:75%;

}
.recent-post-usr-details h6{
    font-family: 'montserrat';
    font-size: 10px;
    font-weight: 600;
}
.recent-post-usr-details a{
    text-decoration: none;
    color: black;
    font-weight:600;
    font-size: 15px;
    font-family: 'lato';
}
.recent-post-usr img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.recent-post-usr-follow{
    position: relative;
    margin: 0 auto;
    text-align:right;
    display:flex;
    /* border: solid 1px black; */
}
.recent-post-usr-follow button{
    width: 100px;
    height: 38px;
    border-radius: 18px;
    border: solid 1px  rgb(5, 97, 97);;
    background-color: white;
    color: rgb(5, 97, 97);;
    font-family: 'lato';
    font-size: 14;
    font-weight: 600;
    letter-spacing: 1px;
    cursor:pointer;
    transition: 0.1s ease-in-out;
}
.recent-post-usr-follow button:hover{
    background-color: rgb(11,71,73);
    background-image: linear-gradient( to right ,rgb(35, 171, 175) , rgb(11, 71, 73) );
    border:none;
    color: white;
}
.hamburger{
    display: inline-block;
    cursor:pointer;
    margin:5px;
    margin-right: 0px;
}
.bar1 , .bar2 , .bar3{
    height: 2px;
    width: 15px;
    background-color: rgb(175, 175, 175);
    margin: 5px ;
}
.recent-post-content{
    background-color: rgb(223, 223, 223);
    width: 100%;
    border-radius: 10px;
    /* padding: 10px; */
    text-align: center;
}
#post-image{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 80vh;
    /* margin-top: 10px; */
    /* border-radius: 10px; */
    overflow: hidden;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.recent-post-content h5{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px;
    font-family: 'lato',sans-serif;
    font-weight: 600;
    color: rgb(33, 33, 33);
}
.recent-post-reactions{
    display: flex;
    /* border: solid 1px black; */
    /* text-align: left; */
    flex-direction:row;
    justify-content: space-around;
    padding: 5px;
}
.recent-post-likes{
    font-family: 'roboto';
    font-size: 13px;
    font-weight: 100;
    color: rgb(75, 75, 75);
}

.recent-post-reactions img{
    height: 20px;
    width: 20px;
    /* margin: 5px; */
    /* margin-left: 10px; */
}
.post-comment{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(223, 223, 223);
    padding: 10px;
    border-radius: 10px;
    /* border: solid 1px black; */
}
.comment input{
    width: 80%;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline:none;
    text-indent: 15px;
    color: rgb(65, 65, 65);
    border: solid 1px rgb(156, 156, 156);
}
.comment input::placeholder{
    color: rgb(46, 46, 46);
    text-align: left;

}
.comment button{
    width: 80px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color:rgb(35, 171, 175);
    background-image: linear-gradient( to right ,rgb(35, 171, 175) , rgb(11, 71, 73) );
    cursor: pointer;
    font-family: 'lato';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
    color:rgb(6, 44, 63);
}
.comment button:hover{
    background-color:black;
    background-image: linear-gradient( to right ,rgb(30, 147, 151) , rgb(6, 53, 54) );

}

