{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="{% static 'script.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    {% block css %}<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}" />{% endblock css %}
</head>
<body>
    {% block navbar %}
        <div class="navbar" id="nav">
            <div class="logo">
            <a href="/">codescape</a>
            </div>
            <div class="search">
                <form action="/search" method = 'GET'>
                    <!-- {% csrf_token %} -->
                    <input
                    type="search"
                    placeholder="Enter text to search"
                    name="search"
                    id="search-box"
                  />
                  <button type="submit" id="searchBtn">
                    <i class="fa fa-search"></i>
                  </button>
                </form>
            </div>
            <div class="user-profile" onclick="Menu()">
            {% if user.is_authenticated %}
                <img src="{{user.profile.pic.url}}" alt="" class="profile"  onclick=Menu() />
                <h5>{{user.username}}</h5>
                <img src="{% static 'down-arrow.png' %}" alt="" id="down-arrow">
            {% endif %}
            </div>
            <ul class="nav-menu  ">
                <li class="nav-item">
                    <a href="{% url 'user' user.username %}"  class='nav-link' onclick=closeMenu() >Profile </a>
                </li>
                <li class="nav-item">
                    <a href='#' class='nav-link'  onclick=closeMenu()>Home</a>
                </li>
                <li class="nav-item">
                    <a href='#' class='nav-link'  onclick=closeMenu()> Profile</a>
                </li>
                <li class="nav-item">
                    <a href='/accounts/logout' class='nav-link'  onclick=closeMenu()><img src={% static 'logout-icon.png' %} id=logout-icon></a>
                </li>
            </ul>
            
        </div><br>
        
    {% endblock navbar %}
    {% block content %}
    {% endblock %}
    
</body>
</html>