{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    
    
    {% block css %}<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}" />{% endblock css %}
</head>
<body>
    {% block navbar %}
        <div class="navbar" id="nav">
            <div class="logo">
            <a href="/">codescape</a>
            </div>
            <div class="search">
                <form action="/search" autocomplete="off" method = 'GET'>
                    <!-- {% csrf_token %} -->
                    <button type="submit" id="searchBtn">
                        <i class="fa fa-search"></i>
                      </button>
                    <input
                    type="search"
                    placeholder="Search Codescape"
                    name="search"
                    id="search-box"
                  />
                  <!-- <button type="submit" id="searchBtn">
                    <i class="fa fa-search"></i>
                  </button> -->
                </form>
            </div>
            <div class="notifications">
                <img src="{% static 'notification.png' %}" alt="" onclick="show_notifications() "id="notification-icon">
                <i class="notification-count">{{count}}</i>
            </div>
            <div class="notifications-content" id="notifications-content" style="display: none;">
                <div class="notifications-content-nav">
                    <b onclick="mark_as_read()">Mark all as read</b>
                    <b onclick="delete_notifications()">Delete all</b>
                </div>
                <div class="notification-list">
                    {% for notification in notifications %}
                        {% if notification.read == False %}
                            <div class="notification unread">
                                <div class="user-info-notification">
                                    <img src = "{{notification.notification_from.profile.pic.url}}">
                                </div>
                                <div class="middle-section">
                                    <h3>{{notification.notification_message}}</h3>
                                    <i>{{notification.notification_time}}</i>
                                </div>
                                <div class="last-section">
                                    <i></i>
                                </div>
                            </div>
                        {% else %}
                            <div class="notification read">
                                <div class="user-info-notification">
                                    <img src = "{{notification.notification_from.profile.pic.url}}">
                                </div>
                                <div class="middle-section">
                                    <h3>{{notification.notification_message}}</h3>
                                    <i>{{notification.notification_time}}</i>
                                </div>
                                <div class="last-section">
                                    <i></i>
                                </div>
                            </div>
                        {% endif %}
                    {% empty %}
                        <div class="no-notification">
                            <h3>No Notifications</h3>
                        </div>    
                    {%endfor %}
                </div>

            </div>

            <div class="user-profile" onclick="Menu()">
            {% if user.is_authenticated %}
                <img src="{{user.profile.pic.url}}" alt="" class="profile"  onclick=Menu() />
                <h5>{{user.username}}</h5>
                <img src="{% static 'down-arrow.png' %}" alt="" id="down-arrow">
            {% endif %}
            </div>
            <ul class="nav-menu  ">
                <li class="nav-item">
                    <a href="{% url 'user' user.username %}"  class='nav-link' onclick=closeMenu() >Profile </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'chats' %}" class='nav-link'  onclick=closeMenu()>Chats</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'collabs' %}" class='nav-link'  onclick=closeMenu()>Collabs</a>
                </li>
                <li class="nav-item">
                    <a href='/accounts/logout' class='nav-link'  onclick=closeMenu()><img src={% static 'logout-icon.png' %} id=logout-icon></a>
                </li>
            </ul>
            
        </div><br>
        
    {% endblock navbar %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/194344ab1e.js" crossorigin="anonymous"></script>
    {% block content %}
    {% endblock %}
    {% block script %}<script src="{% static 'script.js' %}"></script>{% endblock script %}
    </body>
</html>
