{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Collabs{% endblock title %}</title>
{% block content %}
<div class="main-container-profile">
  <div class="followers-list" style="display: none;">
    <header>
      <h2>Followers</h2>
    </header>
    <div class="list">
      {% for i in user.followers.all %}
      <div class="list-user">
        <div class="list-user-profile">
          <img src="{{i.user_id.profile.pic.url}}" alt="" srcset="">
        </div>
        <div class="list-user-name">
          <div class="first-name">
            <b>{{i.user_id.first_name}}</b>
          </div>
          <div class="user-name">
            <i>@{{i.user_id}}</i>
          </div>
        </div>
        <div class="list-user-mssg">
          <a href="{% url 'user-chat' i.user_id %}"><button><i class="fa-solid fa-paper-plane"></i></button></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="following-list" style="display: none;">
    <header>
      <h2>Followings</h2>
    </header>
    <div class="list">
      {% for i in user.following.all %}
      <div class="list-user">
        <div class="list-user-profile">
          <img src="{{i.following_user_id.profile.pic.url}}" alt="" srcset="">
        </div>
        <div class="list-user-name">
          <div class="first-name">
            <b>{{i.following_user_id.first_name}}</b>
          </div>
          <div class="user-name">
            <i>@{{i.following_user_id}}</i>
          </div>
        </div>
        <div class="list-user-mssg">
          <a href="{% url 'follow' i.following_user_id %}"><button><i class="fa-solid fa-user-minus"></i></button></a>
          <a href="{% url 'user-chat' i.following_user_id %}"><button><i
                class="fa-solid fa-paper-plane"></i></button></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="profile-container">
    <img src="{{user.profile.pic.url}}" alt="" style="width: 100px;height:100px; border-radius:50%">
    <div class="profile-user-name">
      <h2>{{user.first_name}}</h2>
      <i>@{{user.username}}</i>
    </div>
    <div class="profile-user-about">
      <h5>{{user.profile.about}}</h5><br>
    </div>

    <a href="edit-profile"><button>Edit profile</button></a><br><br>

    <div class="user-profile-follows-details">
      <div class="user-profile-followers-count" onclick="show_followers()"><b>{{user.followers.count}}</b> Followers
      </div>
      <div class="user-profile-following-count" onclick="show_following()"><b>{{user.following.count}}</b> Following
      </div>
    </div>
    <br>
    <div class="user-activity">
      <header>
        <h3>Activity</h3>
      </header>
      <div class="activity">
        <i>Total posts shared : <b>{{user.post.count}}</b></i>
        <i>Total project ideas shared : <b>{{user.project.count}}</b></i>
      </div>
    </div>
  </div>
  <div class="user-posts">
    <div class="collab-container">
      <nav class=collab-title>
        <h4 onclick="received_requests()" class="active">Received</h4>
        <h4 onclick="sent_requests()">Sent</h4>
      </nav>
      <section class="requests">
        {% for col in collabs %}
        <div class="received">
          <div class="requesting-user-details">
            <img src="{{col.requesting_user.profile.pic.url}}" alt="">
            <div class="requesting-user-name">
              <h5>{{col.requesting_user.first_name}}</h5>
              <i>@{{col.requesting_user}}</i>
            </div>
          </div>
          <div class="project-detail">
            <h3>Project :</h3>
            <h4>{{col.project_id}}</h4>
          </div>
        </div>
        {% endfor %}
      </section>
    </div>
  </div>
</div>
</div>


{% endblock content %}
{% block script %}
<script src="{% static 'script.js' %}"></script>
{% endblock script %}