{% extends 'base.html' %}
{% load static %}
    <title>{% block title %}Edit Profile{% endblock title %}</title>
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'style2.css'%}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
{% endblock css %}
{% block content %}  

  <div class="main-container-profile">
    <div class="followers-list" style="display: none;">
      <header>
        <h2>Followers List</h2>
      </header>
      <div class="list">
        {% for i in user.followers.all %}
          <div class="list-user">
            <div class="list-user-profile">
              <img src="{{i.user_id.profile.pic.url}}" alt="" srcset="">
            </div>
            <div class="list-user-name">
              <div class="first-name">
                <b>{{i.user_id.first_name}}</b>
              </div>
              <div class="user-name">
                  <i>@{{i.user_id}}</i>
              </div>
            </div>
            <div class="list-user-mssg">
              <a href="{% url 'user-chat' i.user_id %}"><button>Message</button></a>
            </div>
          </div>
        {% endfor %}
      </div>    
    </div>
    <div class="following-list" style="display: none;">
      <header>
        <h2>Following List</h2>
      </header>
      <div class="list">
        {% for i in user.following.all %}
          <div class="list-user">
            <div class="list-user-profile">
              <img src="{{i.following_user_id.profile.pic.url}}" alt="" srcset="">
            </div>
            <div class="list-user-name">
              <div class="first-name">
                <b>{{i.following_user_id.first_name}}</b>
              </div>
              <div class="user-name">
                  <i>@{{i.following_user_id}}</i>
              </div>
            </div>
            <div class="list-user-mssg">
              <a href="{% url 'user-chat' i.following_user_id %}"><button>Message</button></a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="profile-container">
      <img src="{{user.profile.pic.url}}" alt="" style="width: 100px;height:100px; border-radius:50%">
      <div class="profile-user-name">
        <h2>{{user.first_name}}</h2>
        <i>@{{user.username}}</i>
      </div>
      <div class="profile-user-about">
        <h5>{{user.profile.about}}</h5><br>
      </div>

      <div class="user-profile-follows-details">
        <div class="user-profile-followers-count" onclick="show_followers()"><b>{{user.followers.count}}</b> Followers</div>
        <div class="user-profile-following-count" onclick="show_following()"><b>{{user.following.count}}</b> Following</div>  
      </div>
      <br>
      <br>
      <div class="user-activity">
        <header><h3>Activity</h3></header>
        <div class="activity">
          <i>Total posts shared : <b>{{user.post.count}}</b></i>
          <i>Total project ideas shared : <b>{{user.project.count}}</b></i>
        </div>
      </div>
    </div>    
    <div class="user-posts">
      <div class="collab-container">
        <header class="edit-profile-header">
          Edit Profile
        </header>
        <div class="edit-profile">
          <form action="/accounts/update" method="post" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="name">
                <div class="first-name">
                    <label for="first-name">First Name</label>
                    <input type="text" name="firstname" id="" value="{{user.first_name}}">
                </div>
                <div class="last-name">
                    <label for="last-name">Last Name</label>
                    <input type="text" name="lastname" id="" value="{{user.last_name}}">
                </div>
            </div>  
            <div class="username">
              <label for="Username">Username</label><br>
              <input type="text" name="username" id="username"  value="{{user.username}}">
            </div><br>
            <div class="about">
              <label for="about">About</label><br>
              <textarea name="About" id="about" rows="5">{{user.profile.about}}</textarea>
            </div>
            <div class="profile-image">
              <label for="Image">Profile Image</label><br>
              <img src="{{user.profile.pic.url}}" alt="" id="img"><br>
              <label for="profile-image-upload" class="custom-file-upload">
                Uplaod
              </label>
              <input type="file" name="image" onchange="loadFile(event)" id="profile-image-upload">
            </div>
            <div class="submit">
              <button type="submit">Update</button>
            </div>
          </form>
          <!-- <h2>This is the profile edit section of codespace</h2> -->
        </div>
      </div>  
        
    </div>
  </div>  
{% endblock content %}
{% block script %}<script src="{% static 'script.js' %}"></script>{% endblock script %}
