{% extends 'base.html' %}
{% load static %}
    <title>{% block title %}Results{% endblock title %}</title>
    {% block css %}<link rel="stylesheet" type="text/css" href="{% static 'style2.css'%}" />{% endblock css %}
    {% block content %}  
  <div class="edit-profile">
    <form action="/accounts/update" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="username">
        <label for="Username">Username</label><br>
        <input type="text" name="username" id="username"  value="{{user.username}}">
      </div><br>
      <div class="about">
        <label for="about">About</label><br>
        <textarea name="About" id="about" rows="5">{{user.profile.about}}</textarea>
      </div>
      <div class="profile-image">
        <label for="Image">Profile Image</label><br>
        <img src="{{user.profile.pic.url}}" alt=""><br>
        <input type="file" name="image" id="profile-image">
      </div>
      <div class="submit">
        <button type="submit">Update</button>
      </div>
    </form>
    <!-- <h2>This is the profile edit section of codespace</h2> -->
  </div>
{% endblock content %}
