{% extends 'base.html' %}
{% load static %}
<script src="{% static 'script.js' %}"></script>
    <title>{% block title %}Codescape{% endblock title %}</title>
{% block content %}  
<div class="container">
  <div class="left-bar">
    <div class="left-bar-nav">
      <a href="/"><h3><img src="{% static 'home-icon.png' %}">Home</h3></a>
      
      <a href="/"><h3><img src="{% static 'home-icon.png' %}">Explore</h3></a>
      
      <a href="/"><h3><img src="{% static 'trending-icon.png' %}">Trending</h3></a>
      
      <a href="/"><h3><img src="{% static 'home-icon.png' %}">Projects</h3></a>
    </div>
  </div>
  <div class="main-container">
    <div class="share-post">
      <form action="{% url 'post' %}" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <label for="share-heading">Whats on your mind</label><br> -->
        <br>
        <input type="text" name="des" id="post" placeholder="Whats on your mind ...">
        <img src="{% static 'image-icon.png' %}" alt="" onclick="selectImage()">
        <button type="submit">Post</button><br><br>
        <input type="file" alt="" name="post_image" class = "selectimage">
      </form>
    </div>

    <!-- <h1>Recent posts </h1> -->
    
    <br>
    <div class="explore-container">
    {% for i in post %}
      <div class="recent-posts">
        <div class="recent-post-usr">
          <div class="recent-post-usr-img">
            <a href = "{% url 'user' i.user_name %}"><img src="{{i.user_name.profile.pic.url}}" alt=""></a>
          </div>
          <div class="recent-post-usr-details">
            <h4><a href = "{% url 'user' i.user_name %}">{{i.user_name}}</a></h4>
            <h6>{{i.date_posted}}</h6>
          </div>
          <div class="recent-post-usr-follow">
              <a href="{% url 'user-chat' i.user_name %}"><button>Message</button></a>
            <div class="hamburger">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>  
            </div>
            <div class="post-options">
              <div class="delete">
                Delete post
              </div>
            </div>
          </div>
        </div>
        <div class="recent-post-content">
          {% if i.img %}  
            <img src="{{i.img.url}}" alt="" id="post-image"><br>
          {% endif %}
          <h5>{{i.description}}</h5>
          <br>
        </div>
        <div class="recent-post-reactions">
        
          <div class="recent-post-likes" id="{{i.id}}" onclick="like('{{i.id}}')" data-url="{% url 'like' i.id %}">
            {% for user.i.likes in i.likes.all %}  
                <img src="{% static 'dislike-icon.png' %}" id="like-dislike{{i.id}}" alt="">
            {% empty %}
                <img src="{% static 'like-icon.png' %}"  id="like-dislike{{i.id}}"alt="">
            {% endfor %}
            <p id="likes-count{{i.id}}">{{i.likes.count}}</p>
            

          </div>
          
          <div class="recent-post-comments">
            <img src="{% static 'comment-icon.png' %}" alt="" onclick="opencomments('{{i.id}}')">
          </div>    
          
      </div>
      <div class="post-comment" id="post-comment{{i.id}}">
          {% if i.details.all %}
            {% for detail in i.details.all %}  
              {{detail.comment}}<br>
            {% endfor %}
          {% else %}
              No comments
          {% endif %}

        <form method="POST" id="comment-post">
          {% csrf_token %}
          <div class="comment">
            <!-- <img src="{{user.profile.pic.url}}" alt="/> -->
            <img src="{{user.profile.pic.url}}">
            <input type="text" name="comment" id="comment" placeholder="Leave your comment here ...">
            <input type="image" src="{% static 'comment-post.png' %}">
          </div>
        </form>
        <!-- <script>
        $("#comment-post").on("submit", function (e) {
          e.preventDefault();
          $.ajax({
            type: "POST",
            url: "post-comment/id:23",
            data: {
              message: $("#comment").val(),
              csrfmiddlewaretoken: "{{csrf_token}}",
              dataType:"json",
            },
            success: function (data) {
              console.log('done');
            },
          });
          return false;
        });

      </script> -->
      </div>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="right-bar">
    <div class="right-bar-chats">
      <h3>You May Know</h3>
      <hr>
    </div>
  </div>  
</div>  

{% endblock content %}





