{% extends 'base.html' %}
{% load static %}
    <title>{% block title %}User Profile{% endblock title %}</title>
    {% block style %}<link href="{% static 'style.css' %}">{% endblock style %}
{% block content %}  
<div class="main-container-profile">
  <div class="profile-container">
    <img src="{{user0.profile.pic.url}}" alt="" style="width: 100px;height:100px; border-radius:50%">
    <div class="profile-user-name">
      <h2>{{user0.username}}</h2>
      <i>@{{user.username}}</i>
    </div>
    <div class="profile-user-about">
      <h5>{{user0.profile.about}}</h5><br>
    </div>
  
    {%if user0.username == user.username %}
      <a href="edit-profile"><button>Edit profile</button></a><br><br>
    {% endif %}
    <div class="user-profile-follows-details">
      <div class="user-profile-followers-count"><b>{{user0.followers.count}}</b> Followers</div>
      <div class="user-profile-following-count"><b>{{user0.following.count}}</b> Following</div>  
    </div>
    <br>
    {% if user0 != user %}
      <h4 class="user-profile-connect">Connect</h4>
      <br>
      <a href="{% url 'follow' user0.username %}"><button onclick="follow('user0.username')">Follow</button></a>
      <a href="{% url 'user-chat' user0.username %}"><button>Message</button></a>
    {% endif %}
  </div>
  <div class="user-posts">
    <div class="explore-container">
      {% for i,value in posts.items %}
        <div class="recent-posts">
          <div class="recent-post-usr">
            <div class="recent-post-usr-img">
              <a href = "{% url 'user' i.user_name %}"><img src="{{i.user_name.profile.pic.url}}" alt=""></a>
            </div>
            <div class="recent-post-usr-details">
              <h4><a href = "{% url 'user' i.user_name %}">{{i.user_name}}</a></h4>
              <h6>{{i.date_posted}}</h6>
            </div>
            <div class="recent-post-usr-follow">
                <a href="{% url 'user-chat' i.user_name %}"><button>Message</button></a>
                <div class="hamburger" onclick="hamburger('{{i.id}}')">
                  <div class="bar1"></div>
                  <div class="bar2"></div>
                  <div class="bar3"></div>  
                </div>
                <div class="post-options" id='options{{i.id}}'>
                  {% if user == i.user_name %}
                    <div class="option">
                      <a href="{% url 'delete' i.id %}">Delete post</a>
                    </div>
                  {% endif %}
                  <div class="option">
                    <a href="{% url 'follow' i.user_name %}">Unfollow</a>
                  </div>
                </div>
              </div>
            </div>
              <div class="recent-post-content">
            {% if i.img %}  
              <img src="{{i.img.url}}" alt="" id="post-image"><br>
            {% endif %}
            <h5>{{i.description}}</h5>
            <br>
          </div>
          <div class="recent-post-reactions">
          
            <div class="recent-post-likes" id="{{i.id}}" onclick="like('{{i.id}}')" data-url="{% url 'like' i.id %}">
                {% if value == 'true' %}
                  <img src="{% static 'liked-icon.png' %}" id="like-dislike{{i.id}}" alt="">
                {% else %}
                  <img src="{% static 'like-icon.png' %}"  id="like-dislike{{i.id}}"alt="">
                {% endif %}
                  <p id="likes-count{{i.id}}">{{i.likes.count}}</p>
  
            </div>
            
            <div class="recent-post-comments">
              <img src="{% static 'comment-icon.png' %}" alt="" onclick="opencomments('{{i.id}}')">
            </div>    
        </div>
        <div class="show-comment" id="post-comment{{i.id}}">
          <div class="comments{{i.id}}">
            {% if i.details.all %}
              {% for detail in i.details.all %}  
              <div class="comment-user-details">
                <div class="comment-user-profile">
                  <img src="{{detail.username.profile.pic.url}}">
                </div>
                <div class="comment-username">
                  {{detail.username}}
                </div>
                <div class="comment-time">
                  {{detail.comment_date}}
                </div>
              </div>
              <div class="comment-details">
                {{detail.comment}}<br>
              </div>
              {% endfor %}
            {% else %}
                
            {% endif %}         
          </div> 
          
          <form method="POST" id="comment-post{{i.id}}">
            {% csrf_token %}
            <div class="post-comment">
              <!-- <img src="{{user.profile.pic.url}}" alt="/> -->
              <img src="{{user.profile.pic.url}}">
              <input type="text" name="comment" id="comment{{i.id}}" placeholder="Leave your comment here ...">
              <input type="image" src="{% static 'comment-post.png' %}" id="submit-button">
            </div>
          </form>          
          <script>
            $("#comment-post{{i.id}}").on("submit", function (e) {
              e.preventDefault();
              let form = $("#comment-post{{i.id}}");
              let comment = $("#comment{{i.id}}").val();
              $.ajax({
                type: "POST",
                url: "{% url 'comment' i.id %}",
                data: form.serialize(),
                success: function (data) {
                  comment_element = `
                    <div class="comment-user-details">
                      <div class="comment-user-profile">
                        <img src="{{user.profile.pic.url}}">
                      </div>
                      <div class="comment-username">
                        {{user.username}}
                      </div>
                      <div class="comment-time">
                        Now
                      </div>
                    </div>
                    <div class="comment-details">
                      ${comment}<br>
                    </div>                  
                  `
                  
                  $('.comments{{i.id}}').append(comment_element);
                  form[0].reset();
                 
                },
              });
              return false;
            });
          </script>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>    
  </div>
</div>
  
{% endblock content %}
{% block script %}<script src="{% static 'script.js' %}"></script>{% endblock script %}



