{% extends 'base.html' %}
{% load static %}
    <title>{% block title %}Profile{% endblock title %}</title>
{% block content %}  
  <div class="profile-container">
      <img src="{{user0.profile.pic.url}}" alt="" style="width: 100px;height:100px; border-radius:50%">
      <h1>{{user0.username}}</h1>
      <h3>{{user0.profile.about}}</h3><br>
      {%if user0.username == user.username %}
        <a href="edit-profile"><button>Edit profile</button></a><br><br>
    {% endif %}
  </div>
{% endblock content %}


