{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Projects{% endblock title %}</title>
{% block content %}
<!-- <div class="container-projects">
    <h2>this is the projects section of codescape</h2>
    {% for project in projects %}
        <div class="projects">
            <div class="project-author-profile">
                <img src="{{project.author_id.profile.pic.url}}" alt="">
            </div>
            <div class="project-author">
                {{project.author_id}}
            </div>
            <div class="project-title">
                {{project.title}}
            </div>
            <div class="project-description">
                {{project.description}}
            </div>
            <div class="project-link">
                {{project.link}}
            </div>
            {% if project.image %}
                <div class="project-media">
                    this is the image 
                    <img src="{{project.image.url}}" alt="" srcset="">
                </div>
            {% endif %}

        </div>
    {% endfor %}
</div> -->


<div class="container">
    <div class="left-bar">
      <div class="left-bar-nav">
        <a href="/"><h3><img src="{% static 'home-icon.png' %}">Explore</h3></a>
        <a href="{% url 'trending' %}"><h3 ><img src="{% static 'trending-icon.png' %}">Trending</h3></a>        
        <a href="/"><h3 class='active'><img src="{% static 'home-icon.png' %}">Projects</h3></a>
      </div>
      <div class="left-bar-user-profile">
        <img src="{{user.profile.pic.url}}" alt="" srcset="">
        <h3>{{user.username}}</h3>
      </div>
    </div>
    <div class="main-container">
      <div class="share-post">
        <form action="{% url 'post' %}" method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- <label for="share-heading">Whats on your mind</label><br> -->
          <br>
          <input type="text" name="des" id="post" placeholder="Whats on your mind ...">
          <img src="{% static 'image-icon.png' %}" alt="" onclick="selectImage()">
          <button type="submit">Post</button><br><br>
          <input type="file" alt="" name="post_image" class = "selectimage">
        </form>
      </div>
  
      <!-- <h1>Recent posts </h1> -->
      
      <br>
      <div class="explore-container">
      {% for project in projects %}
        <div class="recent-posts">
          <div class="recent-post-usr">
            <div class="recent-post-usr-img">
              <a href = "{% url 'user' project.author_id %}"><img src="{{project.author_id.profile.pic.url}}" alt=""></a>
            </div>
            <div class="recent-post-usr-details">
              <h4><a href = "{% url 'user' project.author_id %}">{{project.author_id}}</a></h4>
              <h6>{{project.project_date}}</h6>
            </div>
            <div class="recent-post-usr-follow">
                <a href="{% url 'collab_request' project.id%}"><button>Collab</button></a>
                <div class="hamburger" onclick="hamburger('{{project.id}}')">
                  <div class="bar1"></div>
                  <div class="bar2"></div>
                  <div class="bar3"></div>  
                </div>
                <div class="post-options" id='options{{project.id}}'>
                  {% if user == project.author_id %}
                    <div class="option">
                      <a href="{% url 'delete' project.id %}">Delete post</a>
                    </div>
                  {% endif %}
                  <div class="option">
                    <a href="{% url 'follow' project.author_id %}">Unfollow</a>
                  </div>
                  <div class="option">
                    <a href="{% url 'message' project.author_id %}">Message</a>
                  </div>                  
                </div>
            </div>  
            </div>            
          <div class="recent-post-content">
                <label for="project-title">Title</label>
                <div class="project-title">
                    {{project.title}}
                </div>
                <label for="project-description">Description</label>
                <div class="project-description">
                    {{project.description}}
                </div>
                {% if project.link %}
                    <label for="project-link">Link</label>
                    <div class="project-link">
                        <a href="{{project.link}}">{{project.link}} <img src="{% static 'goto.png' %}"></a>
                    </div>
                {% endif %}

                {% if project.image %}
                    <label for="project-media">Image</label>
                    <div class="project-media">
                        <img src="{{project.image.url}}" alt="" srcset="">
                    </div>
                {% endif %}    
          </div> 
         </div>
      {% endfor %}
      </div>
    </div>
    <div class="right-bar">
      <div class="right-bar-chats">
        <h3>You May Know</h3>
        <!-- <div class="content">
          {% for users in user_to_follow %}
            <div class="to-follow">
              <div class="to-follow-pic">
                <a href="{% url 'user' users.username %}"><img src="{{users.profile.pic.url}}" alt="" srcset=""></a>
              </div>
              <div class="to-follow-username">
                <a href="{% url 'user' users.username %}">{{users.username}}</a>
              </div>
              <div class="to-follow-icon">
                <a href = "{% url 'follow' users.username %}"><img src="{% static 'follow-user.png' %}" alt="" srcset="">
              </div>
              
            </div>
          {% endfor %} -->
      </div>
    </div>  
  </div>  

{% endblock content %}